*{
  padding: 0;
  margin: 0;
}

.main{
  display: flex;
  flex-direction: column;
  background: white;
}

iframe{
  flex: 1;
  border: none;
}

header>.text{
  background: black;
  box-shadow: 2px 2px 2px #333,
  -2px -2px 3px #aaa;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
header>.text:hover{
  background: #333;
}

@media (prefers-color-scheme: dark) {
  .main{
  display: flex;
  flex-direction: column;
  background: #666;
  color: white;
}
}

button{
  padding: 3px 4px;
  
}

button:hiver{
  background: #aaa;
}
